
# Postgres configuration
db_host: ansible-postgres-db-server.postgres.database.azure.com
db_user: magera@ansible-postgres-db-server
db_password: "isthisOK11"
db_instance: "postgres"
db_port: 5432

# After OKTA user creation and Web application creation
application_host_url: http://51.124.144.144:8080
cookie_encrypt_pwd: superAwesomePasswordStringThatIsAtLeast32CharactersLong

# Okta configuration
okta_org_url: https://dev-61921968.okta.com
okta_client_id: 0oa1n3b02iZTwqfTc5d7
okta_client_secret: bhAhpy6e4_D8194X3ZYBegk1jAcK7AMlF7CpvT0L

git_repository: https://TomerMagera@bitbucket.org/TomerMagera/bootcamp-app.git

artifact_source_dir: ~/cicd_agent/_work/r1/a/_wtapp-artifact
artifact_name: WTApp.tar.gz
